.profile {
    border: solid 2px white;
    border-radius: 10%;
    display: flex;
    padding: 15px 50px 15px 50px;
    flex-direction: row;
    align-items: center;
    font-size: xx-large;
    width: 600px;
    word-break: break-all;
}

.profile__image {
    max-height: 75px;
    max-width: 75px;
    border-radius: 50%;
    border: solid 2px;
}

.profile__section--60 {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 60%;
}

.profile__section--30 {
    display: flex;
    align-items: center;
    width: 30%;
}

.profile__section--10 {
    display: flex;
    align-items: center;
    width: 10%;
}